body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.contact-info p {
    margin: 0;
    display: flex;
    align-items: center;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
}

.contact-info a:hover {
    text-decoration: underline;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #2c3e50;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

h3 {
    color: #34495e;
    margin-bottom: 5px;
}

.job, .degree {
    margin-bottom: 15px;
    border-left: 3px solid #3498db;
    padding-left: 10px;
}

.company, .institution {
    font-style: italic;
    color: #555;
    margin-bottom: 5px;
}

.dates, .location {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 5px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

.skills-category {
    margin-bottom: 10px;
}

.skills-category p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

iconify-icon {
    vertical-align: middle;
    font-size: 1.2em; /* Ajusta el tamaño de los íconos */
    margin-right: 3px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #2c3e50;
    color: #fff;
    margin-top: 20px;
}